@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



:root{
    --background-nav-color: rgb(0, 0, 0);
    --main-color: #ffd60a;
    --padding: 10%;
}

body{
    background-color: #080d1a;
    overflow-x: hidden;
}


.lemon-text{
    color: var(--main-color);
}

.nav-bar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px var(--padding);
    background-color: rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: 5;
}

.nav-links{
    display: flex;
    gap: 24px;
    align-items: center;
}

.nav-bar a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: all 0.3s ease;
}

.nav-bar a:hover{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.slide-number-1{
    background-image: url(fruit-image-dark.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 20% var(--padding);
    color: white;
    text-shadow: 2px 2px 10px 1px black;
    font-size: 1.2rem;
}

.slide-number-1 > p{
    padding: 15px 0px;
}

.button{
    position: relative;
    max-width: fit-content;
    border: 2px solid var(--main-color);
    padding: 0px 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    overflow: hidden;
}

.button-title{
    position: relative;
    transition: 0.3 ease-out all
}

#slide{
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: -200px;
    transition: 0.3s ease-out all;
}

.button:hover #slide{
    left: 0;
}

.button:hover .button-title{
    color: black;
    font-weight: 300px;
}

.slide-number-2{
    color: white;
    padding: 0px var(--padding);
}

.column > img{
    width: 10em;
}



.slide-number-2 > h2{
    text-align: center;
    margin: 20px 0px;
}


.simple-page{
    color: white;
    padding: 20px 0;
}

.simple-page > img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.simple-page > h1{
    text-align: center;
    margin: 40px 0 10px 0;
    font-size: 2rem;
}

.simple-page p{
    margin: 10px 0px;;
}

.footer{
    color: white;
    background: black;
    font-size: 0.8rem;
    padding: 20px var(--padding);
}

li{
    list-style: none;
}

.input{
    width: 200px;
    margin-right: 5px;
}

.gmailenter{
    display: flex;
    justify-content: left;
    padding: 15px 0px;
}

.column2{
    display: flex;
    gap: 3em;
    justify-content: space-between;
}

.the-most-footer{
    display: flex;
    justify-content: space-between;

}

.footer-list{
    display: flex;
    gap: 2em;
    text-wrap: nowrap;
    flex-wrap: wrap;
}

.footer-list > li > a{
    color: white;
    font-size: 0.8em;
}

.bold{
    font-weight: 700;
}

.aside > ul a{
    color: white;
    text-decoration: none;
    cursor: pointer;

}

.aside {
    color: white;
    width: 150vw;
    position: sticky;
    top: 150px;
    z-index: 3;
    align-self: start;
    margin-top: 4.3rem;
}

.main{
    padding: 0 var(--padding);
    display: flex;
}

.container-columns{
    display: flex;
    gap: 2rem;
}

.column4{
    margin-top: 7px;
}

@media(max-width: 930px) {
    .aside{
        display: none;
    }

}

@media(max-width: 750px) {
    .container-columns{
        display: inline-block;
    }
}

.nav-links{
    transition: all 0.2s ease;
}

@media(max-width: 800px){
    .nav-links{
        opacity: 0;


    }
    .nav-links a{
        margin-left: -60px;
        width: fit-content;
    }
}

@media(max-width: 700px){
    .column2{
        display: inline-block;
    }

    .the-most-footer{
        display: block;
    }

    .footer-list{
        display: none;
    }

}


.menu-icon{
    display: none;
}

.ham-menu{
    display: none;
}


@media(max-width: 50em){
    .menu-icon{
        display: block;
        position: fixed;
        top: 15px;
        right: 50px;
        color: white;
        z-index: 500;
    }

    .ham-menu a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 500;
    }

    .ham-menu{
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 60px 40px 0 40px;
        position: fixed;
        width: fit-content;
        height: 100vh;
        background-color: #ffd60a;
        top: 0;
        right: 0;
        z-index: 1000;

        transform: translateX(100%);
        transition: all 350ms ease-in;
    }


    #close-menu-icon{
        z-index: 1010;
        position: fixed;
        top: 15px;
        right: 30px;
        display: none;
        transition: all 350ms ease-out;
    }


    .ham-menu[data-visibility="true"]{
        transform: translateX(0);
        transition: all 350ms ease-out;
    }

    #close-menu-icon[data-visibility="true"]{
        transition: all 350ms ease;
        display: block;
    }
    /* .moving-ham-bar{
        transform: translateX(100%);
    } */

}





















